:root {
  --primary-color: #880000;
  --background-color: #9ea1ee30;
  --sidebar-color: #9ea1ee30;
  --font: Luminari serif, Arial sans-serif;
  --shadow: -1px -1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000; 
}