#nav_wrapper {
  position: fixed;
  overflow-x: hidden;
  height: 100%;
  width: 0%;
  /* transition: 0.5s; */
  background: rgba(0, 0, 0, 0.85);}
  #nav_wrapper nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;}
    #nav_wrapper nav a {
      width: 70%;
      margin-top: 10%;
      border-radius: 5px;
      font-size: 3rem;
      font-family: Metamorphous sans-serif;
      color: white;
      text-align: center;
      /* transition: 0.5s */;}
      #nav_wrapper nav a:hover {
        color: var(--primary-color);
        border-color: black;
        background: white;}

#logo img {
  display: none;}
#logo p {
  display: hidden;}
  
#open_nav_button {
  position: fixed;
  justify-content: space-between;
  margin: 12px 0 0 12px;}
  #open_nav_button div {
    height: 0.5rem;
    width: 3rem;
    margin: 0.25rem 0;
    background: white;
    border: 1px solid black;
    border-radius: 0.25em;}
#close_nav_button {
  margin-top: 1em;
  font-size: 3em; }

/*Desktop*/
@media only screen and (min-width: 768px), (max-aspect-ratio: 5/8) {
  /* probably needs to more specific, and with more width options */
  #nav_wrapper {
    width: 100%;
    position: relative;
    background-color: black}
    #nav_wrapper nav {
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      position: relative;
      height: auto;
      width: 100%;
      padding: 5px}
      #nav_wrapper nav a {
        padding: 2px 4px;
        width: auto;
        margin: 0 0 0 1.2rem;
        border: 3px solid black;
        font-size: 1.5em;
        justify-content: center;
        -webkit-text-decoration: none;
        text-decoration: none;
        -webkit-transition-duration: 200ms;
        transition-duration: 200ms;}
        #nav_wrapper nav a#close_nav_button {
          margin: 0;
          visibility: hidden; }


  #nav_wrapper nav #logo {
    margin: 5px;
    border: 3px solid white;
    background:white;}
    #nav_wrapper nav #logo img {
      height: 2.5rem;
      display: inherit;}
    #nav_wrapper nav #logo p {
      display: none;}
    #nav_wrapper nav a:hover, #nav_wrapper nav a#logo:hover {
      border-color: var(--primary-color);
    }

  #open_nav_button, #close_nav_button {
    display:none;
    margin:0;
    visibility: hidden;}
  }



/*Tablet*/
@media only screen and (orientation: landscape) and (min-width: 500px) {
}

/*Small Mobile*/