:root {
  --primary-color: #880000;
  --primary-color-hover: #ae0000;
  --background-color: #9ea1ee30;
  --sidebar-color: #9ea1ee30;
  --font: Luminari serif, Arial sans-serif;
  --shadow: -1px -1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000; 
}

@keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

strong {
	font-weight: bold;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.5rem
}

body {
  font-family: Metamorphous;
  width: 100%;
  min-height: 100vh;
}

a {
	width: fit-content;
	height: fit-content;
	text-decoration: none;
}

footer {
  height: 14vh;
  text-align: center;
  background: #f9f9f9;
  font-family: Aria;
}

footer div {
  padding: 5vh 10%;
}

/*Desktop*/
@media only screen and (orientation: landscape), (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem
  }
  
  footer {
    font-size: 0.75rem;
  }

  footer div {
    padding: 5vh 20%;
  }
}