header {
  align-items: center;
  color: #D5D5D5;
}

header img#banner {
  max-width: 33%;
  min-width: 10rem;
  margin: 4vw 0;
}

header div#intro {
  width: 100%;
  padding: 2rem 5%;
  background: var(--primary-color);
  text-align: center;
}

header div#intro h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: 'Metamorphous', cursive;
  font-weight: 300;
}

header div#intro p {
  font-size: 1.4rem;
}

.jumbotron {
  margin: 5%;
  padding: 5rem 5%;
  box-shadow: 3px 3px 0px gray;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  font-weight: bold;

  text-shadow:  -1px -1px 2px #000,
  1px -1px 2px #000,
  -1px 1px 2px #000,
  1px 1px 2px #000; 
  background-size: cover;
}

.jumbotron h1 {
  font-size: 4rem;
}

.jumbotron p {
  font-size: 1.5rem;
}

.jumbotron#filler {
  background-image: url("https://si.wsj.net/public/resources/images/B3-EC449_SMILEY_M_20190528112918.jpg");
}
