a {
  text-decoration: none;
}

header {
  align-items: center;
  color: #D5D5D5;
}

header img#banner {
  max-width: 33%;
  min-width: 10rem;
  margin: 4vh 0;
}

header div#intro {
  width: 100%;
  padding: 2rem 5%;
  background: var(--primary-color);
  text-align: center;
}

header div#intro h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: 'Metamorphous', cursive;
  font-weight: 300;
}

header div#intro p {
  font-size: 1.4rem;
}

.jumbotron {
  min-height: 50vh;
  margin: 5% 10%;
  padding: 5rem 5%;

  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
  background-size: cover;

  color: white;
  font-weight: bold;
  text-shadow:  -1px -1px 2px #000,
  1px -1px 2px #000,
  -1px 1px 2px #000,
  1px 1px 2px #000; 
}

.jumbotron h1 {
  font-size: 4rem;
  line-height: 5rem;
}

.jumbotron p {
  font-size: 1.5rem;
}

.jumbotron#epic_spell_codex {
  background-image: url("/images/Hastur_the_Yellow_King.jpeg");
}

.jumbotron#epic_bestiary {
  background-image: url("/images/Ionia_Megalith_Final_800x600.jpeg");
}

.jumbotron#trap_compendium {
  background-image: url("/images/Trap_Compendium_Cover.png");
  background-position: center;
}

footer {
  justify-content: space-around;
  text-align: center;
  background: #f9f9f9;
  padding: 5vh 0;
}

footer div {
  margin: auto;
  font-size: 0.75em;
  color: #676767;
  width: 60%;
}