a {
  text-decoration: none;
}

p {
  font-size: 2.2rem;
  font-family: Aria;
}

section.introduction {
  color: #D5D5D5;
  padding: 6rem 1rem 6rem 1rem;
  background-image: linear-gradient( rgba(255, 255, 255, 0) 80%, white), url("static/media/Epic_Party.jpeg");
  background-size:cover;
  background-position: top;
  text-align: center;
  text-shadow: var(--shadow)
}

h1 {
  margin: 3rem auto 6rem auto;
  font-size: 4.5rem;
  font-family: 'Metamorphous', cursive;
  font-weight: 300;
}

h2 {
  font-size: 3.5rem;
}

section.introduction p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-indent: 2rem;
  text-align: start;
}

.jumbotron {
  min-height: 50vh;
  margin: 5%;
  padding: 4%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;

  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
  background-size: cover;

  color: white;
  font-weight: bold;
  text-shadow:  var(--shadow)
}

.jumbotron h1 {
  font-size: 3rem;
  margin: 0 0 10px 0;
}

.jumbotron p {
  /* font-size: 3rem; */
}

.jumbotron#epic_spell_codex {
  background-image: url("static/media/Hastur_the_Yellow_King.jpeg");
}

.jumbotron#epic_bestiary {
  background-image: url("static/media/Ionia_Megalith_Final_800x600.jpeg");
}

.jumbotron#trap_compendium {
  background-image: url("static/media/Trap_Compendium_Cover.png");
  background-position: center;
}

/*Desktop*/
@media only screen and (min-width: 768px), (max-aspect-ratio: 5/8) {
  p {
    font-size: 2rem;
  }
  
  section.introduction {
    height: auto;
    padding: 6rem 10% 10rem 10%;
  }
  
  section.introduction h2 {
    font-size: 2rem;
  }
  section.introduction h1 {
    margin: 1.5rem 0;
    font-size: 3.5rem;
  }
  
  section.introduction p {
    max-width: 1400px;
    text-indent: 4rem;
  }
  
  .jumbotron {
    min-height: 50vh;
    width: 80%;
    max-width: 1200px;
    margin: 5% auto;
    padding: 4%;
    border-width: 3px;
  }
  
  .jumbotron h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
  
  .jumbotron p {
    font-size: 1.5rem;
  }
}


/*Small Mobile*/